.blogcard{
    width: 100%;
    padding: 3rem 15rem;
    line-height: 2;
    

    &__title{
        text-align: center;
        color: #1F66AF;
        font-weight: 700;
        font-size: 2rem;
    }

    &__subtitle{
        color: #000;
        font-weight: 500;
        font-size: 1.15rem;

    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
    }
}