.listproduct{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1rem;
    padding: 0 2rem;
}

.leftbar{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 85%;

    &__search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #e1e1e1;
        outline: none;
        width: 100%;
        padding: 0.5rem;
        color: grey;
        font-size: 1.1rem;
        box-shadow: 1px 2px 1px grey;
        border-radius: 0.5rem;

        input{
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
        }

        svg{
            background-color: #265DB0;
            font-size: 2.52rem;
            padding: 0.5rem;
            cursor: pointer;
            color: #fff;
            border-radius: 0.25rem;
        }
    }

    &__content{
        // display: flex;
        // display: grid;
        // grid-template-columns: repeat(2, 49%);
        gap: 1rem;
        width: 100%;

        &__list{
            width: 100%;
            line-height: 3;
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 49%);

            

            &__item{
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                
    
                &__left{
                    display: flex;
                    flex-direction: column;

                    &:hover{

                        & ~ div{
                            display: block;
                        }
                    }

                    &__info{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 1rem;
                        width: 100%;
    
    
    
                        &__name{
                            display: flex;
                            gap: 1rem;
                            align-items: center;
                        }
    
                        &:hover{
                            color: #265DB0;
                            cursor: pointer;
                            background-color: rgba($color: #e1e1e1, $alpha: 0.2);
    
                        }
                    }
                }
    
                &__right{
                    // visibility: hidden;
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: none;
                    transform: translateX(70px);
                    cursor: pointer;

                    &__item{
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        &hover{
                            color: #265DB0;
                            cursor: pointer;
                            background-color: rgba($color: #e1e1e1, $alpha: 0.2);
                        }
                        
                        .content{
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            width: 100%;
                        }
                    }
                }
            }
        }
        
    }

    &__group{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3{
            color: red;
        }

        &__category{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &__item{
                display: flex;
                gap: 1rem;
            }
        }

        &__colors{
            width: 45%;
            height: 100%;

            &__list{
                display: flex;
                flex-wrap: wrap;
                gap: 0.75rem;
                margin-top: 1.5rem;

                &__item{
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #265DB0;
                    width: 15px;
                    height: 15px;
                    cursor: pointer;
                    // font-size: 1.5rem;

                    &:nth-of-type(1){
                        background-color: red;
                    }
                    &:nth-of-type(2){
                        background-color: blue;
                    }
                    &:nth-of-type(3){
                        background-color: yellow;
                    }
                    &:nth-of-type(4){
                        background-color: green;
                    }
                    &:nth-of-type(5){
                        background-color: pink;
                    }
                    &:nth-of-type(6){
                        background-color: black;
                    }
                    &:nth-of-type(7){
                        background-color: orange;
                    }
                    &:nth-of-type(8){
                        background-color: gray;
                    }
                    &:nth-of-type(9){
                        background-color: blueviolet;
                    }
                    &:nth-of-type(10){
                        background-color: aqua;
                    }
                    &:nth-of-type(11){
                        background-color: cornflowerblue;
                    }
                    &:nth-of-type(12){
                        background-color: darkgreen;
                    }
                    &:nth-of-type(13){
                        background-color: darkcyan;
                    }
                    &:nth-of-type(14){
                        background-color: lightsalmon;
                    }
                    &:nth-of-type(15){
                        background-color: saddlebrown;
                    }
                    &:nth-of-type(16){
                        background-color: sandybrown;
                    }
                    &:nth-of-type(17){
                        background-color: wheat;
                    }
                    &:nth-of-type(18){
                        background-color: darkolivegreen;
                    }
                    &:nth-of-type(19){
                        background-color: darkslateblue;
                    }
                    &:nth-of-type(20){
                        background-color: skyblue;
                    }

                    // & ~ div {
                    //     border: 1px solid red;
                    //     background-color: red;
                    //     width: 30px;
                    //     height: 30px;
                    // }
                }
            }
        }
    }
}

.listproductcontent{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    &__item{
        display: grid;
        grid-template-columns: 20% 70%;
        border: 2px solid #D9D9D9;
        box-shadow: 1px 3px 0px 0px rgba($color: #000000, $alpha: 0.3);
        border-radius: 0.5rem;

        &__info{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;
            // border: 2px solid #e1e1e1;
            padding: 1rem;
            border-radius: 0.5rem;
            box-shadow: 1px 2px 0px #D9D9D9;
            border-right: none;

            img{
                cursor: pointer;
            }

            img:nth-of-type(1){
                width: 40%;
                opacity: 0.8;
            }
            img:nth-of-type(2){
                width: 90%;
            }

            p{
                text-align: center;
            }
        }

        &__detail{
           width: 100%;
           display: grid;
        //    flex-wrap: nowrap;
        //    align-items: center;
        //    justify-content: space-between;
           grid-template-columns: repeat(3, 37%);
           gap: 1rem;

           &__card{
            height: 100%;

            &__title{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border: 1px solid #D9D9D9;
                border-radius: 0.5rem;
                box-shadow: 1px 3px 1px rgba($color: #D9D9D9, $alpha: 0.3);
                padding: 1rem;
                gap: 1.5rem;

                img{
                    width: 25%;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span{
                    font-weight: 500;
                }
            }

            &__chart{
                padding: 1rem 0rem 1rem 1rem;
                height: 75%;
                display: flex;
                align-items: center;
                object-fit: cover;
                justify-content: center;
                // padding-right: 1rem;
                // background-color: red;

                canvas{
                    // border-right: 1px solid #D9D9D9;
                    height: 100% !important;
                    width: 80% !important;

                    &:nth-of-type(3){
                        border-right: none;
                    }
                }

                &__linechart{
                    padding: 1.5rem 1rem 1rem 1rem;
                    height: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    canvas{
                        border-right: 1px solid #D9D9D9;
                        height: 100% !important;
                        width: 80% !important;
    
                        &:nth-of-type(3){
                            border-right: none;
                        }
                    }
                }
            }
           }
        }
    }
}